<div class="container">
    <h2>Crear Nuevo Tipo de Oración</h2>
    <form [formGroup]="registroForm" (ngSubmit)="crearTipoOracion()">
        <div class="form-group">
            <label for="nombre_oracion">Nombre de la Oración</label>
            <input type="text" class="form-control" placeholder="Introduzca el nombre del tipo" id="nombre_oracion" formControlName="nombre_oracion" required>
            @if (registroForm.get('nombre_oracion')?.invalid && registroForm.get('nombre_oracion')?.touched) {
            <div class="text-danger">
                El nombre de la oración es requerido
            </div>
            }
        </div>

        <div class="form-group">
            <label for="descripcion_oracion">Descripción de la Oración</label>
            <textarea class="form-control" placeholder="Introduzca la descripcion del tipo" id="descripcion_oracion" formControlName="descripcion_oracion" rows="4"
                required></textarea>
            @if (registroForm.get('descripcion_oracion')?.invalid && registroForm.get('descripcion_oracion')?.touched) {
            <div class="text-danger">
                La descripción de la oración es requerida
            </div>
            }
        </div><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" routerLink="/oraciones" class="btn btn-secondary me-md-2">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>