<div class="container">
    <h2>Crear Nuevo Tipo de Evento</h2>
    <form [formGroup]="registroForm" (ngSubmit)="idTipoD ? editarTipoEvento() : crearTipoEvento()">
        <div class="form-group">
            <label for="nombre_evento">Nombre del Evento</label>
            <input type="text" class="form-control" id="nombre_evento" formControlName="nombre_evento" required>
            @if (registroForm.get('nombre_evento')?.invalid && registroForm.get('nombre_evento')?.touched) {
            <div class="text-danger">
                El nombre del evento es requerido
            </div>
            }
        </div>

        <div class="form-group">
            <label for="descripcion_evento">Descripción del Evento</label>
            <textarea class="form-control" id="descripcion_evento" formControlName="descripcion_evento" rows="4" required></textarea>
            @if (registroForm.get('descripcion_evento')?.invalid && registroForm.get('descripcion_evento')?.touched) {
                <div class="text-danger">
                    La descripción del evento es requerida
                </div>
            }
        </div>
        @if (idTipoD) {
            <button type="submit" class="btn btn-primary">Editar</button>
        }@else{
            <button type="submit" class="btn btn-primary">Crear</button>
        }

        <button type="button" routerLink="/tipoEventos" class="btn btn-secondary">Cancelar</button>

    </form>
</div>